// Custom.scss
// Option B: Include parts of Bootstrap

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap");

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary:#d2dd1f;
$form-check-input-checked-bg-color:#6a580a;
$form-check-input-checked-bg-image: none;
$form-check-input-checked-border-color: none;



// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
// Create your own map
$custom-colors: (
  "ice-blue": #f9ffff,
  "black": #20201e,
  "browny-green": #6e610a,
  "light-tan": #f7fbce,
  "black-two": #000000,
  "charcoal": #333528,
  "brownish-grey": #73775a,
  "military-green": #4f5133,
  "pine": #393b28,
  "navy-green": #2b2607,
  "pine-two": #2b4632,
  "greyish-brown": #5a5747,
  "white": #ffffff,
  "black-three": #322f25,
  "puke": #a39c00,
  "pine-three": #3a3727,
  "white-two": #d8d8d8,
  "greyish-brown-two": #5e5d45,
  "pine-four": #3a3626,
  "coffee": #9c9045,
  "greyish-brown-three": #46422f,
  "browny-green-two": #6a580a, 
  "ugly-yellow": #d4cb00,
  "greyish-brown-four": #4a4a4a,
  "white-three": #f9f9f9,
  "charcoal-two": #1f221e,
  "army-green": #2b2b0e,
  "greyish-brown-five": #45412e,
  "sickly-yellow": #d2dd1f,
  "cement": #9c9a92,
  "greyish-brown-six": #656046,
  "golden-yellow": #ffc61e, 
  "greyish-brown-seven": #444444,
  "black-four": #393939,
  "beige": #f7f9e6,
  "off-white": #fff9e7,
  "pinkish-grey": #dcd7ba,
  "ice": #f8fffd,
  "beige-two": #e0dbc0,
  "sand": #d4e055,
  "warm-grey": #969696,
  "white-four": #f1f1f1,
  "cherry-red": #ee0031,
  "yellow-orange": #eea100,
  "vibrant-green": #04c900,
  "very-light-brown": #d3ca96,
  "dark-lime-green": #6dbb00,
  "sandy": #e6ed74,
  "sickly-yellow-two": #c8d740,
  "khaki": #a9a660,
  "olive-drab": #706d32,
  "camo-green": #545228,
  "muddy-green": #67652e,
  "olive-drab-two": #706739,
  "camo-green-two": #3a361f,
  "greyish-teal": #7eb1a3,
  "white-six": #ebebeb,
);

//responsive font sizes
/* 1.125rem is small enough, so RFS won't rescale this */
$custom-display-font-sizes: (
  1: 3.75rem, //60px responsive
  2: 3rem, //48px responsive
  3: 2.25rem, //36px responsive
  4: 1.875rem, //30px responsive
  5: 1.625rem, //26px responsive
  6: 1.375rem, //22px responsive
  7: 1.125rem, //18px
  8: 0.938rem, //15px
  9: 0.75rem, //12px
  10: 0.625rem, //10px
  11: 0.5rem //8px
);

$custom-spacers: (
"150px": 150px,
"125px": 130px,
"100px": 100px
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$display-font-sizes: map-merge($display-font-sizes, $custom-display-font-sizes);
$spacers: map-merge($spacers, $custom-spacers);

/*deze 'bootstrap' import hieronder importeerd alles wat in die file wordt geimporteerd.
If you’re not using a component, comment it out or delete it entirely. 
For example, if you’re not using the carousel, remove that import to save some file size in your compiled CSS. 
Keep in mind there are some dependencies across Sass imports that may make it more difficult to omit a file.*/
@import "../node_modules/bootstrap/scss/bootstrap";

// 5. Add additional custom code here

//colors for custom code:
$sand: #d4e055;
$light-tan: #f7fbce;

//Fonts
.fontb {
  font-family: "Lexend", sans-serif;
}

li.nav-item > a:hover.nav-link {
  text-decoration: underline;
}

.fw-semibold {
  font-weight: 600;
}

//Hero image
.hero-image{
  height: 100vh;
  background-image: url('../assets/images/hero-image-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section{
  padding-top: 150px;
  padding-bottom: 150px;
}

.curved-lower{
  display: block;
  margin-top: -1px;
}

//Background image
#bg {
  position: fixed;
  top: -0%;
  left: -0%;
  width: 130%;
  height: 180%;
  z-index: -1000;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

//Gradients

.bg-gradient-sand-light-tan { 
  background: linear-gradient($sand, $light-tan) 
}



@media (max-width: 768px) {
  #sidebar.active {
    margin-left: -17rem;
  }
  #sidebar {
    margin-left: 0;
  }
  #content.active {
    width: 100%;
    margin: 0;
  }
  #content {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}


// hero image text position and color
@media screen and (min-width: 767px) {
  .switch-mobile-color {
    color: #fff !important;
  }
}



// change text color
@media screen and (max-width: 576px) {
  .hero-image {
    h1{
      font-size: 32px !important;
    }
  }
}

@media screen and (min-width: 767px) {
  .hero-image {
    h1{
      margin-top: 10rem !important;
    }
  }
}
